<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jk.dao.SysRoleInfoMapper" >


  <resultMap id="BaseResultMap" type="org.jk.entity.SysRoleInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATEDATETIME" property="createdatetime" jdbcType="TIMESTAMP" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="ICONCLS" property="iconcls" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SEQ" property="seq" jdbcType="INTEGER" />
    <result column="UPDATEDATETIME" property="updatedatetime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, CREATEDATETIME, DESCRIPTION, ICONCLS, NAME, SEQ, UPDATEDATETIME
  </sql>




  <!--查询角色集合-->
  <select id="selectRoleList" parameterType="org.jk.util.PageUtil" resultMap="BaseResultMap">
   SELECT  <include refid="Base_Column_List"/> from t_sysrole_info limit ${start},${pageSize}
  </select>

  <!-- 查询总条数-->
  <select id="selectCount" parameterType="org.jk.util.PageUtil" resultType="java.lang.Integer">
    SELECT  count(ID) from t_sysrole_info
  </select>




























  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sysrole_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sysrole_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.jk.entity.SysRoleInfo" >
    insert into t_sysrole_info (ID, CREATEDATETIME, DESCRIPTION, 
      ICONCLS, NAME, SEQ, 
      UPDATEDATETIME)
    values (#{id,jdbcType=VARCHAR}, #{createdatetime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, 
      #{iconcls,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{seq,jdbcType=INTEGER}, 
      #{updatedatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.jk.entity.SysRoleInfo" >
    insert into t_sysrole_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createdatetime != null" >
        CREATEDATETIME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="iconcls != null" >
        ICONCLS,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="seq != null" >
        SEQ,
      </if>
      <if test="updatedatetime != null" >
        UPDATEDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null" >
        #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="iconcls != null" >
        #{iconcls,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="updatedatetime != null" >
        #{updatedatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.jk.entity.SysRoleInfo" >
    update t_sysrole_info
    <set >
      <if test="createdatetime != null" >
        CREATEDATETIME = #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="iconcls != null" >
        ICONCLS = #{iconcls,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        SEQ = #{seq,jdbcType=INTEGER},
      </if>
      <if test="updatedatetime != null" >
        UPDATEDATETIME = #{updatedatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jk.entity.SysRoleInfo" >
    update t_sysrole_info
    set CREATEDATETIME = #{createdatetime,jdbcType=TIMESTAMP},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      ICONCLS = #{iconcls,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=INTEGER},
      UPDATEDATETIME = #{updatedatetime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>